* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
} 

body {
    font-family: 'Montserrat', sans-serif;
}

.firstDiv h2{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: #3A3A3A;
}
.firstDiv .specialRule {
    width: 98px;
    height: 0px;
    border: 8px solid #EBC154;
}
hr {
    border: 0.5px solid rgba(0, 0, 0, 0.5);
}
.specialText {
font-style: normal;
font-weight: bold;
font-size: 36px;
color: #EBC154;
line-height: 44px;
}

.p {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #3A3A3A;
}

@media(max-width: 768px) {
    .specialText {
        font-size: 26px;
        line-height: 34px;
    }
    .p {
        font-size: 15px;
    }
    .firstDiv h2{
        font-size: 30px;
    }
    .firstDiv .specialRule {
        width: 45px;
        border: 4px solid #EBC154;
        margin-top: -5px;
    }
}

@media(max-width: 400px) {
    .specialText {
        font-size: 18px;
        line-height: 28px;
    }
    .p {
        font-size: 14px;
    }
    .firstDiv h2{
        font-size: 20px;
    }
    .firstDiv .specialRule {
        width: 30px;
        border: 2px solid #EBC154;
        margin-top: -5px;
    }
}
