body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

h1, h2 {
  font-size: 48px;
}

h3 {
  font-size: 22px;
}
p {
  font-size: 16px;
  color: #464646;
}
a {
  font-size: 16px;
  color: #EBC154;
}
a:hover {
  font-size: 16px;
  color: #EBC154;
}
a .link{
  font-size: 6px;
}
#tours-section {
  position: relative;
}

#tours-section .tour-overlay {
  background-image: url(./img/matthias-mullie-u2-97eBhFEc-unsplash1\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}


  #tours-section .tour-caption {
    padding: 90px 50px 50px 90px ;
    color:#fff;
    text-align:center;
    margin: auto;
    }
#tours-section h1 .bold-heading {
  font-size: 100px;
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0) !important;
}
.line{
  width: 150px;
  height: 10px;
  background-color: #EBC154;
  margin: 0 auto;
}

.btn {
  background-color: #EBC154!important;
  color: #fff;
  border: 1px solid #fff;
}



